name: Ruby Gem

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build + Test
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2.2

    - name: Install dependencies
      run: bundle install

    - name: Run Rubocop
      run: bundle exec rubocop

    - name: Run application test
      run: ruby src/main.rb

    - name: Build Gem (Dry Run)
      run: |
        gem build *.gemspec
        echo "Gem built successfully (dry run)"
        
  # Commenter la publication pour l'instant
  # publish:
  #   needs: build
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: read
  #     packages: write
  #   steps:
  #   - uses: actions/checkout@v4
  #   - name: Set up Ruby
  #     uses: ruby/setup-ruby@v1
  #     with:
  #       ruby-version: 3.2.2
  #   - name: Build and Publish to GPR
  #     run: |
  #       mkdir -p $HOME/.gem
  #       touch $HOME/.gem/credentials
  #       chmod 0600 $HOME/.gem/credentials
  #       printf -- "---\n:github: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
  #       gem build *.gemspec
  #       gem push --key github --host https://rubygems.pkg.github.com/${OWNER} *.gem
  #     env:
  #       GEM_HOST_API_KEY: "Bearer ${{secrets.GITHUB_TOKEN}}"
  #       OWNER: ${{ github.repository_owner }}
